[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "==3.0.0"
requests = "*"
python-dotenv = "1.0.0"
flask-cors = "==4.0.0"

[dev-packages]
black = "*"
pylint = "*"
pycodestyle = "*"

[requires]
python_version = "3.12"
